$fonts:
	'Noto Sans' 'noto-sans' 400,
	'Noto Sans' 'noto-sans' 600,
	'Noto Serif' 'noto-serif' 400,
	'Noto Serif' 'noto-serif' 700;

@each $family, $filename, $weight in $fonts {
	@font-face {
		font-weight: $weight;
		font-style: normal;
		font-family: $family;
		font-display: swap;
		src: url('/fonts/#{$filename}-#{$weight}.woff2') format('woff2');
	}
}
