/* stylelint-disable selector-class-pattern */

@use '../env' as *;

._container {
	padding-inline: 1.5rem;

	@include desktop {
		padding-inline: calc(50% - 610px);
	}
}

._separated {
	margin-top: 4rem;
}

._centered {
	display: table;
	margin-inline: auto;
}
