@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: "Noto Sans";
	font-display: swap;
	src: url("/fonts/noto-sans-400.woff2") format("woff2");
}

@font-face {
	font-weight: 600;
	font-style: normal;
	font-family: "Noto Sans";
	font-display: swap;
	src: url("/fonts/noto-sans-600.woff2") format("woff2");
}

@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: "Noto Serif";
	font-display: swap;
	src: url("/fonts/noto-serif-400.woff2") format("woff2");
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: "Noto Serif";
	font-display: swap;
	src: url("/fonts/noto-serif-700.woff2") format("woff2");
}

html {
	--color-black: #333333;
	--color-eggplant: #332754;
	--color-green-light: #b2d4b5;
	--color-green: #27542b;
	--color-lavender: #c1abfe;
	--color-white: #ffffff;
	--font-basic: "Noto Serif", serif;
	--font-accent: "Noto Sans", sans-serif;
	--scroll-behavior: auto;
	--transition: none;

	font-size: 16px;
}

body {
	min-width: 320px;
	margin: 0;
	line-height: 1.5;
	font-family: var(--font-basic);
	font-feature-settings:
		"tnum" on,
		"lnum" on;
	color: var(--color-black);
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	overflow-anchor: none;
}

h1,
h2 {
	margin: 0;
	font-weight: 600;
	line-height: 1.25;
	font-family: var(--font-accent);
	font-kerning: auto;
	color: var(--color-eggplant);
}

h1 {
	font-size: 2em;
	letter-spacing: -0.03em;
}

h2 {
	font-size: 1.5rem;
	letter-spacing: -0.01em;
}

a {
	text-decoration-skip-ink: none;
	font-family: var(--font-accent);
	text-decoration: none;
	color: var(--color-green);
	transition: var(--transition);
	transition-property: color;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0.75rem 1rem;
	font: inherit;
	font-family: var(--font-accent);
	border: none;
	outline: none;
	box-shadow: inset 0 0 0 1px var(--color-green);
	transition: var(--transition);
	transition-property: box-shadow;
}

input:focus-visible {
	box-shadow: inset 0 0 0 2px var(--color-eggplant);
}

input::placeholder {
	color: inherit;
	opacity: 0.5;
}

mark {
	background-color: var(--color-lavender);
}

.article {
	display: grid;
	gap: 2rem;
}

.button {
	padding: 0.75rem 2rem;
	font: inherit;
	font-family: var(--font-accent);
	color: var(--color-white);
	background-color: var(--color-green);
	border: none;
	border-radius: 2px;
	transition: var(--transition);
	transition-property: background-color;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.button:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 2.125rem;
}

.cards--centered {
	justify-content: center;
}

.cards__item {
	display: grid;
	align-content: start;
	gap: 0.5rem;
	width: 272px;
	font-family: var(--font-basic);
	text-align: center;
}

.cards__item img {
	height: 204px;
	object-fit: cover;
	object-position: center;
}

.cards__item a:hover + a {
	text-decoration: underline;
}

.content h1,
.content h2 {
	margin-bottom: 2rem;
}

.content ul li {
	position: relative;
	padding-left: 1rem;
}

.content ul li:before {
	content: "\2022";
	position: absolute;
	top: 0;
	right: calc(100% - 0.5rem);
}

.content ol {
	counter-reset: list;
}

.content ol li {
	position: relative;
	counter-increment: list;
	padding-left: 1.25rem;
}

.content ol li::before {
	content: counter(list) ". ";
	position: absolute;
	top: 0;
	right: calc(100% - 0.875rem);
}

.content ol:has(li:nth-child(10)) li {
	padding-left: 1.75rem;
}

.content ol:has(li:nth-child(10)) li::before {
	content: counter(list) ". ";
	right: calc(100% - 1.375rem);
}

.content ol,
.content ul,
.content p {
	margin: 0;
}

.content ol:not(:first-child),
.content ul:not(:first-child),
.content p:not(:first-child) {
	margin-top: 1rem;
}

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	box-sizing: border-box;
	min-height: 100dvh;
	padding: 2rem;
	color: var(--color-eggplant);
}

.hero::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background-color: #eeeeee;
	background-image: url("/images/hero-mobile.webp");
	background-position: 50%;
	background-size: cover;
	opacity: 0.5;
}

.hero__heading {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;
	font-weight: 700;
	font-family: var(--font-basic);
}

.hero__text {
	min-height: 1.875rem;
	font-size: 1.25rem;
	text-align: center;
}

.image {
	display: block;
	border-radius: 2px;
}

.layout {
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	min-height: 100dvh;
	overflow: hidden scroll;
}

.layout--inner {
	padding-top: 2.5rem;
}

.layout__header {
	--gap: 1rem;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	display: flex;
	gap: var(--gap);
	padding-block: 0.5rem;
	font-family: var(--font-accent);
	text-transform: uppercase;
	background-color: var(--color-white);
	box-shadow: 0 0 1rem #00000026;
}

.layout__logo-link {
	flex-shrink: 0;
	color: var(--color-eggplant);
}

.layout__logo {
	display: block;
}

.layout__header-list {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	gap: var(--gap);
}

.layout__header-item {
	display: contents;
}

.layout__header-item--separated a {
	margin-left: auto;
}

.layout__header-item strong {
	font-weight: 600;
	letter-spacing: -0.02em;
}

.layout__main {
	flex-grow: 1;
	padding-block: 4rem;
}

.layout__footer {
	--link-color: var(--color-green-light);
	padding-block: 1.5rem;
	font-size: 0.75rem;
	line-height: 1.2rem;
	font-family: var(--font-accent);
	color: var(--color-white);
	background-color: var(--color-black);
}

.layout__footer-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.layout__footer-item {
	text-align: center;
}

.layout__footer-item a {
	color: var(--link-color);
}

.layout__tg {
	--link-color: var(--color-lavender);
	position: relative;
	display: block;
	padding-left: 1.5rem;
}

.layout__tg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1.2rem;
	height: 1.2rem;
	background-color: currentColor;
	mask-image: var(--icon-tg);
	mask-size: 100%;
}

.page-section {
	display: grid;
	gap: 3rem;
}

.page-section__title {
	text-align: center;
}

.recipe-footer {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.recipe-footer__structure-link {
	text-align: right;
}

.search-form {
	display: grid;
	gap: 1rem;
}

.search-form__nof {
	margin: 0.5rem 0 0;
}

.small {
	font-size: 0.85rem;
	line-height: 1.5294;
}

.structure {
	display: grid;
	gap: 2rem;
}

.structure__heading {
	margin-bottom: 4rem;
}

.structure__sideheading {
	margin: 1rem 0 4rem;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0 1rem;
	max-width: 50%;
}

.tags--column {
	display: block;
	width: fit-content;
	max-width: none;
}

.tags--column .tags__item:not(:first-child) {
	margin-top: 0.25rem;
}

.tags__link {
	display: table;
	text-transform: lowercase;
}

._container {
	padding-inline: 1.5rem;
}

._centered {
	display: table;
	margin-inline: auto;
}

._hidden {
	display: none;
}

._separated {
	margin-top: 4rem;
}

._visually-hidden {
	position: fixed;
	transform: scale(0);
}
