a:hover {
	text-decoration: underline;
}

.button:hover,
.button:focus-visible {
	background-color: var(--color-eggplant);
}

.layout__logo-link:hover,
.layout__logo-link:focus-visible,
.page-section__nav-link:hover,
.page-section__nav-link:focus-visible {
	color: var(--color-green);
}
