.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	box-sizing: border-box;
	min-height: 100dvh;
	padding: 2rem;
	color: var(--color-eggplant);
}

.hero::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background-color: #eeeeee;
	background-image: url("/images/hero-mobile.webp");
	background-position: 50%;
	background-size: cover;
	opacity: 0.5;
}

.hero__heading {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;
	font-weight: 700;
	font-family: var(--font-basic);
}

.hero__text {
	min-height: 1.875rem;
	font-size: 1.25rem;
	text-align: center;
}

@media (min-width: 888px) {
	.hero::before {
		background-image: url("/images/hero.webp");
	}
}
