html {
	--icon-chevron: url("../../icons/chevron.svg");
	--icon-close: url("../../icons/close.svg");
	--icon-eye-slash: url("../../icons/eye-slash.svg");
	--icon-eye: url("../../icons/eye.svg");
	--icon-logout: url("../../icons/logout.svg");
}
