html {
	--color-black: #333333;
	--color-eggplant: #332754;
	--color-green-light: #b2d4b5;
	--color-green: #27542b;
	--color-lavender: #c1abfe;
	--color-red: #ac272b;
	--color-red-light: #e8b5b6;
	--color-white: #ffffff;
	--font-basic: "Noto Serif", serif;
	--font-accent: "Noto Sans", sans-serif;
	--gap-intersection: 2.5rem;
	--scroll-behavior: auto;
	--transition: none;

	/* Критические иконки */
	--icon-arrow: url("../../icons/arrow.svg");
	--icon-search: url("../../icons/search.svg");
	--icon-social-tg: url("../../icons/social-tg.svg");

	font-size: 16px;
}

body {
	margin: 0;
	line-height: 1.5;
	font-family: var(--font-basic);
	font-feature-settings:
		"tnum" on,
		"lnum" on;
	color: var(--color-black);
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	overflow-x: hidden;
	overflow-anchor: none;
}

h1,
h2 {
	margin: 0;
	font-weight: 600;
	line-height: 1.25;
	font-family: var(--font-accent);
	font-kerning: auto;
	color: var(--color-eggplant);
}

h1 {
	font-size: 2em;
	letter-spacing: -0.03em;
}

h2 {
	font-size: 1.5rem;
	letter-spacing: -0.01em;
}

a {
	font-family: var(--font-accent);
	text-decoration: none;
	text-decoration-skip-ink: none;
	color: var(--color-green);
}

button {
	background-color: transparent;
	cursor: pointer;
	user-select: none;
}

a,
button {
	transition: var(--transition);
	transition-property: color, background-color;
}

button,
input,
select,
textarea {
	margin: 0; /* Safari */
	font: inherit;
	font-family: var(--font-accent);
	color: inherit;
	background-color: transparent;
	border: none;
}

input,
select,
textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 0.75rem 1rem;
	outline: 1px solid var(--color-green);
	outline-offset: -1px;
}

input:focus,
select:focus,
textarea:focus {
	outline-color: var(--color-eggplant);
	outline-width: 2px;
}

input:user-invalid,
select:user-invalid,
textarea:user-invalid {
	outline-color: var(--color-red);
}

input::placeholder,
textarea::placeholder {
	color: inherit;
	opacity: 0.5;
}

input[type="number"] {
	appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
}

select {
	overflow: auto;
	appearance: none;
}

textarea {
	min-height: 3rem;
	resize: vertical;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
}

picture,
source {
	display: contents;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

mark {
	background-color: var(--color-lavender);
}

@media (hover: hover) {
	a:hover,
	a:focus-visible {
		text-decoration: underline;
		text-decoration-thickness: from-font;
	}
}

@media (prefers-reduced-motion: no-preference) {
	html {
		--transition: 0.3s ease-in-out;
		--scroll-behavior: smooth;
	}
}

@media (min-width: 888px) {
	html {
		--gap-intersection: 4rem;

		font-size: 20px;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}
}
