.app {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden scroll;
	scroll-behavior: var(--scroll-behavior);
}

.app__main {
	flex-grow: 1;
	padding-block: 3rem;
}
