@use '../env' as *;

.article {
	display: grid;
	gap: 2rem;

	@include tablet-desktop {
		grid-template-columns: 384px 1fr;

		.article__image {
			order: -1;
		}
	}

	&--reverse {
		@include tablet-desktop {
			grid-template-columns: 1fr 384px;

			.article__image {
				order: initial;
			}
		}
	}

	h2 {
		@include mobile {
			text-align: center;
		}
	}
}

.article__image {
	@include mobile {
		margin-inline: auto;
	}

	@include tablet-desktop {
		margin-top: 0.75rem;
	}
}
