.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 2.125rem;

	&--centered {
		justify-content: center;
	}
}

.cards__item {
	display: grid;
	align-content: start;
	gap: 0.5rem;
	width: 272px;
	font-family: var(--font-basic);
	text-align: center;

	img {
		height: 204px;
		object-fit: cover;
		object-position: center;
	}

	a:hover + a {
		text-decoration: underline;
	}
}
