@use '../env' as *;

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	box-sizing: border-box;
	min-height: calc(100vh - 2.5rem);
	padding: 2rem;
	color: var(--color-eggplant);

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
		background-image: url('/images/hero-mobile.webp');
		background-position: 50%;
		background-size: cover;
		opacity: 0.5;

		@include tablet-desktop {
			background-image: url('/images/hero.webp');
		}
	}
}

.hero__heading {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;
	font-weight: 700;
	font-family: var(--font-basic);
}

.hero__text {
	min-height: 1.875rem;
	font-size: 1.25rem;
	text-align: center;
}
