.checker {
	display: block;
	position: relative;
	width: fit-content;
	padding-left: 2rem;
}

.checker input {
	position: absolute;
	top: 0;
	left: 0;
	width: 1.5rem;
	height: 1.5rem;
	padding: 0;
	appearance: none;
	color: var(--color-green);
}

.checker [type="checkbox"]::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	width: 0.4rem;
	height: 0.8rem;
	border: solid currentColor;
	border-width: 0 0.1rem 0.1rem 0;
	opacity: 0;
	transform: translate(-50%, calc(-50% - 0.1rem)) rotate(45deg);
	transition: var(--transition);
	transition-property: opacity;
}

.checker :checked::after {
	opacity: 1;
}

.checker :focus {
	color: var(--color-eggplant);
}
