.comments {
	position: relative;
	display: grid;
	gap: 1.5rem;
	align-items: bottom;
	min-height: 100%;
}

.comments--opened {
	grid-template-columns: 1fr 1fr;
}

.comments .comments__share {
	position: absolute;
	bottom: 0;
	left: 0;
}

.comments--opened .comments__share {
	display: none;
}

.comments__heading {
	display: none;
}

.comments__toggler {
	align-self: end;
	justify-self: end;
}

.comments__body {
	grid-column: 1 / -1;
	display: none;
}

.comments--opened .comments__heading,
.comments--opened .comments__body {
	display: block;
}

.comments__list {
	margin: 0 0 2rem;
	padding: 0 0 0.5rem;
	border-bottom: 1px solid var(--color-green);
}

.comments__item,
.comments__quote {
	margin: 0;
}

.comments__item--answer {
	margin: 1rem 0 0 1.5rem;
}

.comments__item:last-child {
	margin-bottom: 1.5rem;
}

.comments__author {
	display: block;
	margin: 0 0 0.5rem;
	font-style: normal;
	font-weight: 700;
}

.comments__list p {
	margin-left: 1.5rem;
	font-size: 0.85rem;
	line-height: 1.5294;
}

.comments__form {
	display: grid;
	gap: 0.5rem;
}

.comments__name {
	max-width: 27rem;
}

.comments__button {
	justify-self: start;
	margin-top: 0.5rem;
}

@media (max-width: 359px) {
	.comments__share span {
		position: fixed;
		transform: scale(0);
	}
}
