.structure {
	display: grid;
	gap: 2rem;
	scroll-margin-top: 2rem;
}

.structure__cards h1 {
	margin-bottom: var(--gap-intersection);
}

.structure__asideheading {
	margin: 1rem 0 var(--gap-intersection);
}

@media (max-width: 887px) {
	.structure__cards h1 {
		text-align: center;
	}

	.structure__asideheading {
		margin: 2rem 0;
		text-align: center;
	}

	.structure__menu {
		margin-inline: auto;
	}
}

@media (min-width: 888px) {
	.structure {
		grid-template-columns: 1fr min-content;
		scroll-margin-top: 6.5rem;
	}

	.structure__aside {
		position: sticky;
		top: 6.5rem;
		align-self: start;
	}
}
