.footer {
	--link-color: var(--color-green-light);
	padding-block: 1.5rem;
	font-size: 0.75rem;
	line-height: 1.2rem;
	font-family: var(--font-accent);
	color: var(--color-white);
	background-color: var(--color-black);
}

.footer__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.footer__item {
	text-align: center;
}

.footer__item a {
	color: var(--link-color);
}

.footer__tg {
	--link-color: var(--color-lavender);
	position: relative;
	display: block;
	padding-left: 1.5rem;
}

.footer__tg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1.2rem;
	height: 1.2rem;
	background-color: currentColor;
	mask-image: var(--icon-social-tg);
	mask-size: 100%;
}

@media (min-width: 888px) {
	.footer__list {
		flex-direction: row;
		gap: 2rem;
	}

	.footer__item--last {
		margin-left: auto;
	}
}
