.form__groups {
	display: grid;
	gap: 2rem;
	margin-top: 2rem;
}

.form__subtitle {
	margin-bottom: 2rem;
}

.form__group:not(:first-child) {
	margin-top: 2rem;
}

.form__article {
	--article-margin-top: 2rem;
	--article-image-margin-inline-mobile: 0;

	margin-top: 3rem;
}

.form__checker,
.form__submit {
	margin-top: 2rem;
}

@media (min-width: 768px) {
	.form__groups {
		grid-template-columns: 1fr 384px;
		align-items: start;
	}
}
