.icon-button {
	position: relative;
	padding: 0 0 0 1.5rem;
	color: var(--color-eggplant);
	text-decoration: underline;
	text-decoration-style: dashed;
}

.icon-button::before {
	content: "";
	position: absolute;
	top: 0.15rem;
	left: 0;
	width: 1.2rem;
	height: 1.2rem;
	background-color: currentColor;
	mask-size: 100%;
}

.icon-button--comment::before {
	mask-image: var(--icon-comment);
}

.icon-button:hover {
	color: var(--color-green);
}
