.layout {
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-y: scroll;
}

.layout__header,
.layout__main,
.layout__footer {
	box-sizing: border-box;
	min-width: 320px;
}

.layout__header {
	position: sticky;
	top: 0;
	z-index: 1;
	box-shadow: 0 0 1rem #00000026;
}

.layout__main {
	flex-grow: 1;
	display: grid;
	gap: 4rem;
	align-content: start;
	padding-block: var(--gap-intersection);
}

.layout__share {
	justify-self: start;
}
