.modal {
	position: fixed;
	inset: 0;
	z-index: 1;
	display: none;
	overflow-y: scroll;
	background-color: rgba(51, 51, 51, 0.5);
	backdrop-filter: blur(5px);
}

.modal--opened {
	display: grid;
}

.modal__inner {
	position: relative;
	margin: auto;
	box-sizing: border-box;
	width: 100%;
	min-width: 320px;
	max-width: 66.8rem;
	padding: 3rem 1.5rem;
	background-color: var(--color-white);
}

.modal__close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem;
	color: var(--color-green);
}

.modal__close::before {
	content: "";
	display: block;
	width: 2rem;
	height: 2rem;
	background-color: currentColor;
	mask-image: var(--icon-close);
	mask-size: 100%;
}

@media (hover: hover) {
	.modal__close:hover,
	.modal__close:focus-visible {
		color: var(--color-eggplant);
	}
}

@media (min-width: 480px) {
	.modal__inner {
		padding-inline: 2rem;
	}
}

@media (min-width: 888px) {
	.modal__inner {
		padding-inline: 3rem;
	}
}
