.password-input {
	position: relative;
}

.password-input__input {
	padding-right: 3rem;
}

.password-input__button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.75rem;
	color: var(--color-green);
}

.password-input__button::before {
	content: "";
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background-color: currentColor;
	mask-image: var(--icon-eye-slash);
	mask-size: 100%;
}

.password-input__button--shown::before {
	mask-image: var(--icon-eye);
}

@media (hover: hover) {
	.password-input__button:hover,
	.password-input__button:focus-visible {
		color: var(--color-eggplant);
	}
}
