@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: "Noto Sans";
	font-display: swap;
	src: url("/fonts/noto-sans-400.woff2") format("woff2");
}

@font-face {
	font-weight: 600;
	font-style: normal;
	font-family: "Noto Sans";
	font-display: swap;
	src: url("/fonts/noto-sans-600.woff2") format("woff2");
}

@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: "Noto Serif";
	font-display: swap;
	src: url("/fonts/noto-serif-400.woff2") format("woff2");
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: "Noto Serif";
	font-display: swap;
	src: url("/fonts/noto-serif-700.woff2") format("woff2");
}
